


.nav{
	padding:20px;
	background-color: #F1F1F1;;
	margin: 6px;
}



h2{
	text-align: center;
	font-family: Arial;
}


header{
	padding:20px;
	background-color: #F1F1F1;;
	margin: 6px;
}

body{
max-width: 1000px;
background-color: grey;
}

section.secondcontainer{
	padding: 110px;
	padding-right: 68px;
	padding-top: 120px;
	padding-bottom: 16px;
	background-color: #F1F1F1;
	margin: 12px;
	display: inline-block;
	position: relative;
	text-align: center;
	margin-right: 8px;
}

aside{
	
	display: inline-block;
	padding: 10px;
	padding-right: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #F1F1F1;
	margin: 5px;
}

.aside2{
padding-right: 300px;
padding-top: 100px;
padding-bottom: 350px;
margin-bottom: -85px;
display: inline-block;
}




footer{
	padding:20px;
	background-color: #F1F1F1;
	margin: 6px;
}





.seconddiv{
	background-color: grey;
	padding:100px;
	padding-right: 10px;
	display:inline-block;
	padding-top: 78px;
	padding-bottom: 14px;
}

.div1{

background-color: #F1F1F1;
padding: 40px;
padding-right: 300px;
margin-left: -84px;
}

.div2{

background-color: #F1F1F1;
padding: 40px;
padding-right: 300px;
margin-top: 4px;
margin-left: -84px;

}

section{
	display: inline-block;
	padding: 40px;
	padding-right: 85px;
	padding-top: 132px;
	padding-bottom: 60px;
	background-color: #666;
	margin: 5px;
}

section.section3{

	padding: 148px;
	padding-right: 228px;
	padding-bottom: 300px;
	margin-bottom: -44px;
	background-color:#F1F1F1;

}









